#vocabtool_import_form {
    max-width: 640px;
}

.vocabtool_import thead tr {
    /* bg-primary and text-light */
    background-color: #0f6cbf;
    color: #f8f9fa;
}
.vocabtool_import td,
.vocabtool_import th {
    border-left: 1px dotted #999;
}
.vocabtool_import td.lastcol,
.vocabtool_import th.lastcol {
    border-right: 1px dotted #999;
}

#vocabtool_import_pbar {
    margin-left: 0px;
    margin-right: 0px;
    max-width: unset; /** override 500px */
}
#vocabtool_import_pbar p {
    margin-bottom: 0px;
}
#vocabtool_import_pbar_bar {
    height: 2rem; /** override 1rem */
    width: 100%;
}

