/** restrict the width of the main form */ 
#vocabtool_questionbank_form {
    max-width: 760px;
}

/**
 * Remove the bottom margin on question items so that they appear more bunched together.
 */
#vocabtool_questionbank_form #id_questiontypescontainer > .fitem {
    margin-bottom: 0; /** override default of 1rem */
}

/**
 * Add faint zebra stripes to the question types.
 */
#vocabtool_questionbank_form #id_questiontypescontainer > .fitem:nth-child(odd) {
    background-color: #fff;
}
#vocabtool_questionbank_form #id_questiontypescontainer > .fitem:nth-child(even) {
    background-color: #f8f8f8;
}

/**
 * To avoid visual overload, the drop-down menus for formats are
 * initially hidden using "hideIf" on the Moodle form. However, this
 * causes the height to change which in turn causes the vertically centered
 * checkbox to jump to a new position. To prevent this, we fix the height
 * of the DIV containing the LABEL containing the CHECKBOX.
 */
#vocabtool_questionbank_form #id_questiontypescontainer > .fitem
    > .felement > fieldset > div {
    min-height: 40px;
}

/* md (small laptops) */
@media screen and (min-width: 992px) {
    /**
     * Adjust the left/right margins of the ".fitem" elements in question types
     * so that they line up with the "Question types" heading. We also need to adjust
     * the left/right padding on the label, so that the help icon remains lined up.
     */
    #vocabtool_questionbank_form #id_questiontypescontainer > .fitem {
        margin-left: 0;
        margin-right: 0;
    }
    #vocabtool_questionbank_form #id_questiontypescontainer > .fitem > .col-form-label {
        padding-left: calc(2.5rem - 15px);
        padding-right: 7px !important;
    }
}
