/** Set background color on headings and subheadings. */
.path-mod-vocab-ai-chatgpt fieldset.collapsible > div:first-of-type:not(.fcontainer) {
    background-color: #e6ffcc;
}
.path-mod-vocab-ai-chatgpt .configinfo dl:first-of-type {
    background-color: #4d9900;
}
.icon.vocabai_chatgpt_icon {
    color: #4d9900;
}