/* Set background color for headings an subheadings. */
.path-mod-vocab-ai-files fieldset.collapsible > div:first-of-type:not(.fcontainer) {
    background-color: #ffffcc;
}
.path-mod-vocab-ai-files .configinfo dl:first-of-type {
    background-color: #999900;
}
.icon.vocabai_files_icon {
    color: #999900;
}