/** Set background color on headings and subheadings. */
.path-mod-vocab-ai-formats fieldset.collapsible > div:first-of-type:not(.fcontainer) {
    background-color: #ffcccc;
}
.path-mod-vocab-ai-formats .configinfo dl:first-of-type {
    background-color: #990000;
}
.icon.vocabai_formats_icon {
    color: #990000;
}
