/**
 * restrict the width of this form, otherwise
 * the file upload elements are too wide
 */ 
#vocabtool_wordlist_form {
    max-width: 640px;
}

/**
 * Hide the label for the wordlist words by overriding the flex-basis
 * set by "flex: 0 0 25%" for the "col-md-3" selector of Bootstrap.
 */
#vocabtool_wordlist_form #fgroup_id_wordlist.femptylabel .col-form-label {
    flex-basis: auto !important;
}

/** set the widths on the wordlist columns */
#vocabtool_wordlist_form .wordindex {
    width: 24px;
}
#vocabtool_wordlist_form .wordtext {
    width: 120px;
}
#vocabtool_wordlist_form .wordactionsheadings,
#vocabtool_wordlist_form .wordactions {
    width: 124px;
}
/** The "Rate" columns need more width for the "%" sign */
#vocabtool_wordlist_form .wordstat {
    width: 46px;
}
/** The "Usage count" column can be narrower */
#vocabtool_wordlist_form .wordstat:first-child {
    width: 40px;
}
#vocabtool_wordlist_form .wordstatsheadings {
    line-height: 0.9;
}
#vocabtool_wordlist_form .wordstatheading small {
    font-size: xx-small;
}

/** the <p> just before the .form-filetypes-descriptions */
#vocabtool_wordlist_form #fgroup_id_importfileelements .felement p {
    margin-bottom: 0px;
    font-weight: bold;
}

/** put the file descriptions on a single line */
#vocabtool_wordlist_form .form-filetypes-descriptions {
    width: initial !important; /** override w-100 */
}
#vocabtool_wordlist_form .form-filetypes-descriptions li {
    float: left;
    margin-left: 0.5rem; /* ml-2 */
}

/** add parentheses before and after the file type, e.g. (txt) */
#vocabtool_wordlist_form .form-filetypes-descriptions li small:before {
    content: "(";
}
#vocabtool_wordlist_form .form-filetypes-descriptions li small:after {
    content: ")";
}

/**
 * Stretch the container of the "Import" button horizontally
 * to 100% of the width to ensure that it is on its own line.
 */
#vocabtool_wordlist_form .form-filetypes-descriptions + div {
    width: 100%;
}
